{{extend 'layout.html'}}
<div id='form-header'>
	<div class='left-h'>
		{{ =IMG( _src=URL( 'static/images','logo_unirio_small.png' ), _alt='Logo UNIRIO' ) }}<br />
		Universidade Federal do Estado do Rio de Janeiro<br />
		Pró-Reitoria de Administração<br />
		Departamento de Recursos Humanos<br />
		Divisão de Recrutamento, Seleção e Desenvolvimento de Pessoal
	</div>
	<div class='right-h'>
		<span class='line1'>{{=year}}/{{=year+1}}</span>
		<span class='line2'>Retornar até: 05/01/{{=year+1}}</span>
	</div>
</div>

<h1>Processo de Avaliação Institucional e Funcional</h1>

{{=form}}
<span class='aviso'>Campos automaticamente preenchidos a partir do CPF cadastrado</span>
