{{extend "layout.html"}}
<div id="informativo_progep">
    <p>É com enorme contentamento que a Pró-Reitoria de Gestão de Pessoas (PROGEPE), em parceria com a Diretoria de
        Tecnologia da Informação e Comunicação (DTIC), lançam esta primeira versão da Avaliação de Desempenho, agora
        informatizada. <b>Para realizar a sua auto-avaliação é necessário que as chefias iniciem o procedimento</b></p>

    <p>Com a transformação do extinto Departamento de Recursos Humanos em PROGEPE, as atribuições de diversos serviços
        foram redirecionadas. Isso aconteceu, também, com a Avaliação de Desempenho, a qual passa a ser coordenada,
        agora, pelo Setor de Acompanhamento e Análise do Processo de Trabalho (SAAPT - antigo Serviço Social). </p>

    <p>O SAAPT tem como objetivo potencializar a ação dos trabalhadores da UNIRIO enquanto sujeitos de seu processo de
        trabalho, através de atividades que incitem a reflexão sobre a organização, condições e relações de trabalho,
        bem como sua formação política. A importância da migração da Avaliação de Desempenho para este setor é tomá-la
        como uma ferramenta institucional, capaz de apontar dados sobre o processo de trabalho de todos os trabalhadores
        desta universidade, de forma a permitir o planejamento das ações de gestão, a construção de intervenções e a
        proposição de políticas que beneficiem a produção de um trabalho mais vivo na UNIRIO.</p>

    <p>Torna-se, portanto, fundamental entender que a centralidade da Avaliação de Desempenho é existir enquanto um
        instrumento capaz de gerar melhoria nas condições de trabalho, e não apenas como uma etapa para a progressão
        funcional. Valorize esse espaço que serve de ponte entre o seu trabalho e a possibilidade de melhoria do mesmo.
        Participe! <b>Use os campos descritivos para nos informar sobre suas condições de trabalho. </b>Critique,
        questione, aponte melhorias e faça parte da construção de projeto de universidade no qual o trabalhador esteja
        envolvido nas ações de mudança.</p>

    <p><b>Indique no campo de observações suas necessidades de curso.</b> Essas informações serão repassadas ao Setor
        de Formação Permanente, no intuito de construir um mapa das necessidades de treinamento na UNIRIO e posterior
        construção do Plano Anual de Capacitação. </p>

    <p><b>Reivindique o debate sobre a organização do trabalho em seu setor.</b> A avaliação deve servir como processo
        pedagógico, no qual seja possível pensar coletivamente sobre as atividades na sua unidade. Demande que o
        preenchimento e envio das avaliações se dê com uma discussão prévia sobre cada aspecto que dela faz parte,
        ainda que não seja o responsável pelo seu setor. </p>

    <p>Em caso de dúvidas, ou para conhecer nosso setor, contate-nos no ramal 5523.</p>

    <p>Muito obrigado!!!</p>

    <span class="highlight">{{=A("Li o texto acima e quero continuar.", _href=URL('default', 'index'))}}</span>
</div>