{{extend "layout.html"}}
<div id="informativo_progep">
    <p>É com enorme contentamento que a Pró-Reitoria de Gestão de Pessoas (PROGEPE), em parceria com a
        Diretoria de Tecnologia da Informação e Comunicação (DTIC), lançam esta primeira versão da
        Avaliação de Desempenho, agora informatizada.  Para realizar a sua auto-avaliação é necessário
        que as chefias iniciem o procedimento</p>
    <p>Com a transformação do extinto Departamento de Recursos Humanos em PROGEPE, as atribuições de
        diversos serviços foram redirecionadas. Isso aconteceu, também, com a Avaliação de Desempenho,
        a qual passa a ser coordenada, agora, pelo Setor de Acompanhamento e Análise do Processo de
        Trabalho (SAAPT - antigo Serviço Social).</p>
    <p>O SAAPT tem como objetivo potencializar a ação dos trabalhadores da UNIRIO enquanto sujeitos de
        seu processo de trabalho, através de atividades que incitem a reflexão sobre a organização,
        condições e relações de trabalho, bem como sua formação política. A importância da migração da
        Avaliação de Desempenho para este setor é tomá-la como uma ferramenta institucional, capaz de
        apontar dados sobre o processo de trabalho de todos os trabalhadores desta universidade, de
        forma a permitir o planejamento das ações de gestão, a construção de intervenções e a proposição
        de políticas que beneficiem a produção de um trabalho mais vivo na UNIRIO.</p>
    <p>Torna-se, portanto, fundamental entender que a centralidade da Avaliação de Desempenho é existir
        enquanto um instrumento capaz de gerar melhoria nas condições de trabalho, e não apenas como uma
        etapa para a progressão funcional. Valorize esse espaço que serve de ponte entre o seu trabalho
        e a possibilidade de melhoria do mesmo. Participe! <b>Use os campos descritivos para nos informar
            sobre suas condições de trabalho.</b> Critique, questione, aponte melhorias e faça parte da construção
        de projeto de universidade no qual o trabalhador esteja envolvido nas ações de mudança.</p>
    <p>Indique no campo de observações suas necessidades de curso. Essas informações serão repassadas ao
        Setor de Formação Permanente, no intuito de construir um mapa das necessidades de treinamento na
        UNIRIO e posterior construção do Plano Anual de Capacitação.</p>
    <p><b>Reivindique o debate sobre a organização do trabalho em seu setor.</b> A avaliação deve servir
        como processo pedagógico, no qual seja possível pensar coletivamente sobre as atividades na sua
        unidade. Demande que o preenchimento e envio das avaliações se dê com uma discussão prévia sobre
        cada aspecto que dela faz parte, ainda que não seja o responsável pelo seu setor.</p>
    <p>Há ainda, algumas orientações para os responsáveis pelas unidades organizacionais. <u>Preencha a
        avaliação de todos os servidores lotados em seu setor</u>, <b>ainda que não tenham exercido suas
        atividades durante todo o ano correspondente à avaliação.</b> É importante para nós conhecer a
        realidade do setor atual dos servidores. <b>Lembramos que os servidores que, por quaisquer razões,
        estiveram ou estejam afastados (por motivo de saúde ou para usufruir de capacitação, por exemplo)
        devem, ainda assim, ser avaliados de acordo com sua lotação atual.</b> Respeite, também, o prazo de
        envio das Avaliações de Desempenho, <b><u>o qual transcorrerá de 24 de novembro de 2014 a 05 de janeiro
        de 2015</u></b>. Precisamos atentar para o recorte temporal, de maneira que todos os setores sejam
        contemplados na produção dos relatórios de avaliação.</p>
    <p>Faremos as avaliações referentes a dois períodos distintos: 2013 e 2014. Caso você tenha sido
        removido ou a chefia mudado, solicitamos que você indique isso por meio desse link. (clique aqui).
        Assim encaminharemos sua solicitação para confirmação das chefias [atual e antiga], para que sua
        avaliação possa ser realizada pelo gestor que acompanhou você no período indicado.</p>
    <p>Em caso de dúvidas, ou para conhecer nosso setor, contate-nos no ramal 5523.</p>
    <p>Muito obrigado!!!</p>
    <span class="highlight">{{=A("Li o texto acima e quero continuar.", _href=URL('default', 'index'))}}</span>
</div>