{{extend 'layout.html'}}
<p>Antes de iniciar as avaliações referentes aos períodos de <b>2013 e 2014</b> considere as orientações destacadas
    abaixo para os responsáveis pelas unidades organizacionais.</p>
<ol>
    <li>Remova da lista apenas os servidores que não estão mais lotados no setor, utilizando o botão: <b>"Não se encontra em exercício na unidade"</b>.
     Um e-mail será enviado para o setor competente para as providências cabíveis.</li>

    <li>Lembramos que os servidores que, por quaisquer razões, estiveram ou estejam afastados (por motivo de saúde
        ou para usufruir de capacitação, por exemplo) devem, ainda assim, ser avaliados de acordo com sua lotação atual.</li>

    <li>Nos casos dos servidores que estão sendo chefiados por você a menos que 06 meses, informe na caixa de
        texto, para que o SAAPT, possa registrar e, em breve, orientá-los como proceder, tendo em vista que estamos
        aperfeiçoando o sistema para melhor atendê-los, permitindo assim que a avaliação possa ser realizada pela chefia
        que acompanhou o servidor por mais tempo;</li>

    <li>Respeite, também, o prazo de envio das Avaliações de Desempenho, <b>o qual transcorrerá de 27 de novembro
        de 2014 a 05 de janeiro de 2015</b>. Precisamos atentar para o recorte temporal, de maneira que todos os setores
        sejam contemplados na produção dos relatórios de avaliação.</li>
</ol>

<p>Caso exista um servidor em exercício na unidade que <b>não</b> esteja presente na lista abaixo,
    favor <b><a href="{{=URL("subordinados", "informarProgepe")}}">clicar aqui</a></b> para comunicar a PROGEPE.</p>

<h3>Clique no nome de um servidor para iniciar sua avaliação.</h3>
{{=lista}}
